:root {
    --red-btn-color :rgb(248, 110, 110);
    --blue-btn-color :rgb(110, 110, 248);
    --green-btn-color :rgb(110, 248, 110);
    --yellow-btn-color :rgb(245, 245, 118);
    --orange-btn-color :rgb(245, 160, 2);
}


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: rgb(29, 28, 28);
    /* background: rgb(247, 242, 242); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}



/* ------------------------------------------------------ */

p, button {
    font-size: 0.8rem
}

#top_of_board {
    width: 30%;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


#round-circle 
{
    width: max-content;
    padding: 0px 15px;
    height: 50px;
    border-radius: 30px;
    background: rgb(29, 28, 28);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(166, 166, 174, 0.9)
}
/* #round-circle:hover 
{
    width: 20%;
    transition: .2s;
    height: 40px
} */

#rules-div {
    width:30%;
    
    padding: 10px;
    background: rgb(29, 28, 28);
    border-radius: 30px;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(166, 166, 174, 0.9);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}

#rules-div span {
    display: none;
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    width: 100%;
    height: 100%;
     
}



.rules_clicked {

    box-shadow:  -2px -2px 3px rgb(32, 32, 32);
    background: rgb(45, 43, 43);
    position: absolute;
    
    height: max-content;
    justify-content: flex-start; 
    align-items: flex-start;
    animation: div;
    animation-duration: 1s;
    transition-timing-function: ease;
}



.rules_clicked #rules-title {

    display: none;
}


.rules_clicked #rules-text{ 

    display: inline-block;
    animation: text;
    animation-duration: 1.2s;
} 


#rules-div:hover {

    cursor: pointer;
    
}




@keyframes text {
    0% {opacity: 0;}
    50%{opacity:0;}
    80%{opacity:0;}
    90%{opacity:0;}
    100%{opacity:1;}
}

@keyframes div {

    0% {
        width: 30%;
        max-width: 420px;
        height: 10%;
        
    }

    
    100% {
        width: 30%;
        max-width: 420px;
        height: 49%;
    }
}

#rules-back-btn{
    z-index: 30;
    width: 100px;
    height: 20px;
    background-color: #2c2c2c;
    transform: translateX(-200px);
}

#rules-back-btn:hover{
    color: red;
    background-color: #fff;
}

.indice-rules {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid rgba(166, 166, 174, 0.9);
    transform: translateY(8px);
    margin: 0 10px;
    background-color: red;
}

.indice-rules2 {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid rgba(166, 166, 174, 0.9);
    transform: translateY(8px);
    margin: 0 10px;
    background-color: white;
}




/* ------------------------------------------------- */



#board-game {
    
    width: 30%;
    max-width: 420px;
    height: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow:  0px 0px 20px 0px #2c2c2c;
    border: 3px solid rgba(166, 166, 174, 0.9);

}

#game-field{

    flex-basis: 90%;
    background-color: transparent;
    display: flex;
    /* border: 2px white solid; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#color-zone {

    flex-basis: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
}

.color-zone-line {
    height:10%;
    border-bottom: 1px rgba(19, 18, 18, 0.33) solid;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colors, .color-btn {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    border: 3px solid rgba(166, 166, 174, 0.9);
}

#indice-zone {
    flex-basis: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    border-top-right-radius: 20px;
}

.indice-zone-line {
    height:20%;
    border-bottom: 1px rgba(0, 0, 0, 0.33) solid;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.indice {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin: auto;
    border: 1px solid rgba(166, 166, 174, 0.9);

}



#color-picking-zone{
    flex-basis: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a60;
    border-top: 2px black solid;
}

#color-picking-zone button:hover {
    
    transition:0.1s;
    box-shadow:  -2px -2px 3px rgb(32, 32, 32);
    opacity:0.7;
}

#red-btn{
    background-color: var(--red-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,  2px 2px 10px rgba(5, 1, 1,0.80);
}
#blue-btn{
    background-color: var(--blue-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#green-btn{
    background-color: var(--green-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#yellow-btn{
    background-color: var(--yellow-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#orange-btn{
    background-color: var(--orange-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#reset-btn {
    

    color: white;
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
    font-size: 1.3rem;
    width: 20%;
    background: rgb(29, 28, 28);
    border: 2px solid rgba(166, 166, 174, 0.9);
}






.r{ 
    background-color: var(--red-btn-color);
}
.b{
    background-color: var(--blue-btn-color);
}
.v{
    background-color: var(--green-btn-color)
}
.j{
    background-color: var(--yellow-btn-color);
}
.o{
    background-color: var(--orange-btn-color);
}


.r, .b, .v, .j, .o {
    transition: .2s;
}

#under-game-section {
    margin: 10px 0;
    width: 30%;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

#validate-btn
{
    width:  50%;

    border-radius: 30px;
    border: 3px solid rgba(166, 166, 174, 0.9);

    color: white;
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}

#refresh-btn
{
    width: 50%;
    height: 50px;
    border-radius: 30px;
    border: 3px solid rgba(166, 166, 174, 0.9);

    color: white;
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);

}


#refresh-btn:hover
{

    background-color: rgba(232, 13, 13, 0.29);

    transition: 0.2s;
}

#validate-btn:hover 
{
  
    /* box-shadow: -1px -1px 1px black; */
    background-color: rgba(42, 232, 13, 0.29);

    transition: 0.2s;
}



.flex {
    display: flex;

}



/* ---------------MEDIA QUERIES------------ */

@media only screen and (max-width:1350px){
    #board-game {
        width: 30%;
        height: 80%;

    }
    #under-game-section {
        width: 30%;
     

    }
    
    #top_of_board {
        width: 30%;
        display: flex;
        justify-content: space-between;
   
    }

  
    #rules-div {
        width: 30%;
        padding: 0 30px;
    }

    /* #rules-div:hover {
        width: 30%;
        animation: div;
        animation-duration: 1s;
        transition-timing-function: ease;
       
    } */

    /* @keyframes div {

        0% {
            width: 30%;
            height: 5%;
            
        }
    
        
        100% {
            width: 30%;
            height: 49%;
        }
    } */

    .colors, .color-btn {
        width: 30px;
        height: 30px;
    }
    .indice {
        width: 8px;
        height: 8px;
    }
    
}







@media only screen and (max-width:850px){
    #board-game {
        width: 50%;
        height: 90%;
    }
    #under-game-section {
        width: 50%;

    }

    #top_of_board {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin:  10px ;
    }


    #rules-div {
        width: 50%;
    }

    /* #rules-div:hover {
        width: 50%;
        animation: div;
        animation-duration: 1s;
        transition-timing-function: ease;
       
    /* }  */

    @keyframes div {

        0% {
            width: 50%;
            height: 5%;
            
        }
    
        
        100% {
            width: 50%;
            height: 49%;
        }
        
     
    }
    
    /*  
    .colors, .color-btn {
        width: 30px;
        height: 30px;
    }
    .indice {
        width: 8px;
        height: 8px;
    }
    p, button {
        font-size: 0.8rem
    }
   */
}


/* -------------------------- mobile ------------------------------------- */

@media only screen and (max-width:500px){
    #board-game {
        width: 80%;
        height: 80%;
 
  
    }

    #under-game-section {
        width: 80%;

    }
  
    #top_of_board {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin:  10px ;
    }

    #rules-div {
        font-size: 1rem;
        width: 80%;
    }
     /* #rules-div:hover {
        width: 80%;
        animation: div;
        animation-duration: 1s;
        transition-timing-function: ease;
       
    } */

    @keyframes div {

        0% {
            width: 80%;
            height: 10%;
            
        }
    
        
        100% {
            width: 80%;
            height: 49%;
        }
    } 

    p, button {
        font-size: 0.8rem
    }

   
}


/* Wide screen */

/* @media only screen and (min-width:1350px) {
    .colors, .color-btn {
        width: 35px;
        height: 35px;
    }
    .indice {
        width: 10px;
        height: 10px;
    }
    
} */

