:root {
    --red-btn-color :rgb(248, 110, 110);
    --blue-btn-color :rgb(110, 110, 248);
    --green-btn-color :rgb(110, 248, 110);
    --yellow-btn-color :rgb(245, 245, 118);
    --orange-btn-color :rgb(245, 160, 2);
}


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: rgb(29, 28, 28);
    /* background: rgb(247, 242, 242); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


#top_of_board {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin:  20px ;
}

#text_on_top_div{
    background-color: rgba(196, 84, 84, 0.3);

    width: 70%;
    height:50px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;

}

#rules-div {
    width:20%;
    height:50px;
    background-color: rgba(196, 84, 84, 0.3);
    border-radius: 30px;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#rules-div span {
    display: none;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    
 
}


#rules-div:hover {

    cursor: pointer;
    transition:0.1s;
    box-shadow:  -2px -2px 3px rgb(32, 32, 32);
    background-color: rgba(67, 27, 27,0.90);
    position: absolute;
    width: 30%;
    height: max-content;
    justify-content: flex-start; 
    align-items: flex-start;
    animation: div;
    animation-duration: 1s ;
}

#rules-div:hover span{
    display: inline-block;
    animation: text;
    animation-duration: 1.2s;
    
}

#rules-div:hover p{
    display: none;
    
}

@keyframes text {
    0% {opacity: 0;}
    50%{opacity:0;}
    100%{opacity:1;}
}

@keyframes div {

    0% {
        width: 10%;
        
    }

    
    100% {
        width: 30%;
    }
}

#round-circle 
{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(196, 84, 84, 0.3);
    text-align: center;
    font-size: 2.2rem;
    color: azure;
}



#board-game {
    
    width: 30%;
    height: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow:  0px 0px 20px 0px #2c2c2c;
    border: 4px solid rgba(166, 166, 174, 0.9);

}

#game-field{

    flex-basis: 90%;
    background-color: transparent;
    display: flex;
    /* border: 2px white solid; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#color-zone {

    flex-basis: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
}

.color-zone-line {
    height:10%;
    border-bottom: 1px rgba(19, 18, 18, 0.33) solid;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colors {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 3px solid rgba(166, 166, 174, 0.9);
}

#indice-zone {
    flex-basis: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    border-top-right-radius: 20px;
}

#color-picking-zone{
    flex-basis: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1a60;
    border-top: 2px black solid;
}

#color-picking-zone button:hover {
    
    transition:0.1s;
    box-shadow:  -2px -2px 3px rgb(32, 32, 32);
    opacity:0.7;
}

#red-btn{
    background-color: var(--red-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,  2px 2px 10px rgba(5, 1, 1,0.80);
}
#blue-btn{
    background-color: var(--blue-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#green-btn{
    background-color: var(--green-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#yellow-btn{
    background-color: var(--yellow-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#orange-btn{
    background-color: var(--orange-btn-color);
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
}
#reset-btn {
    

    color: white;
    box-shadow: inset -3px -3px 7px #ffffff33,   2px 2px 10px rgba(5, 1, 1,0.80);
    font-size: 1.3rem;
    width: 20%;
    background-color: rgba(196, 84, 84, 0.3);
}



.color-btn {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}



.r{ 
    background-color: var(--red-btn-color);
}
.b{
    background-color: var(--blue-btn-color);
}
.v{
    background-color: var(--green-btn-color)
}
.j{
    background-color: var(--yellow-btn-color);
}
.o{
    background-color: var(--orange-btn-color);
}



.indice-zone-line {
    height:20%;
    border-bottom: 1px rgba(0, 0, 0, 0.33) solid;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.indice {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: auto;
    border: 1px solid rgba(166, 166, 174, 0.9);

}

#under-game-section {
    margin: 10px 0;
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

#validate-btn
{
    width:  50%;
    height: 70px;
    border-radius: 30px;
    border: 4px solid rgba(166, 166, 174, 0.9);
    font-size: 1.2rem;
    color: white;
}

#refresh-btn
{
    width: 50%;
    height: 70px;
    border-radius: 30px;
    border: 4px solid rgba(166, 166, 174, 0.9);
    font-size: 1.2rem;
    color: white;

}


#refresh-btn:hover
{

    background-color: rgba(232, 13, 13, 0.29);

    transition: 0.2s;
}

#validate-btn:hover 
{
  
    /* box-shadow: -1px -1px 1px black; */
    background-color: rgba(42, 232, 13, 0.29);

    transition: 0.2s;
}







/* ---------------MEDIA QUERIES------------ */

@media only screen and (max-width:1100px){
    #board-game {
        width: 50%;


    }
    #under-game-section {
        width: 50%;

    }
}


@media only screen and (max-width:850px){
    #board-game {
        width: 60%;
        height: 90%;


    }
    #under-game-section {
        width: 60%;

    }
}


/* -------------------------- mobile ------------------------------------- */

@media only screen and (max-width:480px){
    #board-game {
        width: 100%;
        height: 100%;
        border-radius:0px;
  
    }

    #under-game-section {
        width: 100%;

    }
    #refresh-btn, #validate-btn {
        border-radius: 0px;
    }
}

/* Wide screen */

@media only screen and (min-width:1900px) {
    .colors, .color-btn {
        width: 50px;
        height: 50px;
    }
    .indice {
        width: 15px;
        height: 15px;
    }
    
}

